@media screen and (min-width:768px) {
    .carousel-container {
        clip-path: polygon(2.679% 100%, 97.322% 100%, 97.322% 100%, 97.756% 99.944%, 98.168% 99.782%, 98.552% 99.522%, 98.903% 99.173%, 99.216% 98.745%, 99.483% 98.245%, 99.701% 97.684%, 99.863% 97.069%, 99.965% 96.409%, 100% 95.714%, 100% 12.865%, 100% 12.865%, 99.993% 12.556%, 99.972% 12.251%, 99.938% 11.949%, 99.891% 11.654%, 99.83% 11.364%, 99.757% 11.083%, 99.672% 10.81%, 99.574% 10.546%, 99.465% 10.294%, 99.343% 10.054%, 94.685% 1.475%, 94.685% 1.475%, 94.526% 1.206%, 94.354% 0.962%, 94.17% 0.743%, 93.977% 0.551%, 93.774% 0.386%, 93.563% 0.249%, 93.345% 0.142%, 93.122% 0.063%, 92.894% 0.016%, 92.663% 0%, 2.679% 0%, 2.679% 0%, 2.244% 0.056%, 1.832% 0.218%, 1.448% 0.478%, 1.097% 0.827%, 0.785% 1.255%, 0.517% 1.755%, 0.299% 2.316%, 0.137% 2.931%, 0.035% 3.591%, 0% 4.286%, 0% 95.714%, 0% 95.714%, 0.035% 96.409%, 0.137% 97.069%, 0.299% 97.684%, 0.517% 98.245%, 0.785% 98.745%, 1.097% 99.173%, 1.448% 99.522%, 1.832% 99.782%, 2.244% 99.944%, 2.679% 100%);
    }
}

svg.carousel-container {
    position: absolute;
    top: -999px;
    left: -999px;
    width: 0;
    height: 0;
}

.zoomInOut{
    animation: zoomInOut 4000ms ease-in-out infinite; 
}
@keyframes zoomInOut {
    0%{
        transform: scale(1);
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    100%{
        transform: scale(1.5);
    }
}